/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
} */



.justify-content-center .table {
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 10px 0px;
    justify-content: space-evenly;
    font-size: 20px;
}
.justify-content-center .table  .call_column{
    box-shadow: 5px 10px 15px black;
    padding: 10px 7px;
    margin: 5px 0px;
    width: 250px;
    border-radius:10px 10px 28px 10px ;
}
.call_column div{
    width: 98%;
    margin: 10px 10px;
    padding: 4px 9px;
    border-bottom: .3px solid aliceblue;
}
@media screen and (max-width: 600px) {
    .justify-content-center .table  .call_column{
        width: 90%;

    }
}




