/*
    @developers "Anjan Maity,Subhasis Khanra,Sourav Pramanik"
    @updated version_1.0 ""
    @params "css3"
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    /* font-family: 'Josefin Sans', sans-serif; */
    
        /* font-family: "Roboto", sans-serif; */
        font-family: 'Times New Roman', Times, serif;
        word-spacing: 1px;
        
}

:root {
    /* --text-slate-dark: #030f18; */
    /* --bg-section: #183b54; */
    /* --btn-hover-color: #2320b6; */
    /* --primary-btn-color: #2294ed; */
    /* --list-color: #c1ebe0cc; */
    /* --white-color: #ffffff; */
    /* --gradient-color-primary: linear-gradient(-45deg, #fbc2eb 0%, #a6c1ee 100%); */
    --slate-dark: #011229;
    --body-bg-color: #ffffffdb;
    --white-smoke-color: #f6eeee;
    --border-color: #2320b6;
    --text-light-white: #b7bec6;
    --primary-color: #4f1c76;
    --secondary-color: #fef08a;
    --sub-heading-primary: hsla(354, 95%, 24%, 1);
    --sub-heading-secondary: hsla(234, 70%, 24%, 1);

    /* updating */
    /* off in 12/12/24 */
    --section-bg-primary: hsla(350, 73%, 44%, 1);
    --section-bg-secondary: hsla(274, 65%, 12%, 1);

    --btn-color-primary: hsla(333, 100%, 53%, 1);
    --btn-color-secondary: hsla(33, 94%, 57%, 1);
    --anim-bg-primary: #f538b9;
    --anim-bg-secondary: #0ab6f8;
    --link-color: #11e75f;
    --hover-color: #2294ed;
    --text-color-grey: #ccc;
    --anim-icon-color: #11e75f;
    --info-color: #d0e112;
    --list-icon-color: #c5d6ff;
    --grey-text: #e5e4f1;
    --header-bg-color-primary: #4dadf7;
    --header-bg-color-secondary: #b9dfee;
    --bx-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    --gradient-color-secondary: linear-gradient(-225deg, #1c3ab0 50%, #a463b4 100%);
}

body {
    scroll-behavior: smooth;
    /* background-color: var(--body-bg-color); */
    /* : linear-gradient(to top, #4481eb 0%, #04befe 100%); */
}

/* customize browser scroll-bar */
::-webkit-scrollbar {
    display: none;
}

/* pre-loader style */
.preloader {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 1000vh;
    background: var(--slate-dark);
    z-index: 9999;
    display: none;
}

.preloader .loader-icon {
    width: 100%;
    height: 100vh;
    background: var(--slate-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-welcome {
    width: 30%;
}

.loader-progress {
    width: 10%;
    margin-top: .58rem;
}

/* customize bootstrap style */
.modal {
    backdrop-filter: blur(5px);
    z-index: 9999999;
}

.modal-content {
    height: 90vh;
}

.modal-body {
    text-align: center;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.modal-body>img {
    width: 75%;
    object-fit: cover;
    transition: all .2s ease;
}

.modal-body>img:hover {
    transform: scale(1.1);
}

/* incons style */
.fa-arrow-down {
    color: #e84f13 !important;
    pointer-events: none;
}

/* icon animations */
.zoom {
    color: var(--anim-icon-color);
    scale: 1;
    transition: all .2s linear;
    animation: zoom-in-out 1s ease infinite;
}

@keyframes zoom-in-out {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}


/* helper style */
main {
    z-index: -1
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    transition-delay: 1s;
    transition: all .2s ease-in-out;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: all .2s ease;
}

.primary-btn {
    display: inline-block;
    color: linear-gradient(90deg, #0372e9 , #537895 ),var(--grey-text);
    background: var(--btn-color-primary);
    background: linear-gradient(90deg, var(--btn-color-primary) 0%, var(--btn-color-secondary) 100%);
    background: -moz-linear-gradient(90deg, var(--btn-color-primary) 0%, var(--btn-color-secondary) 100%);
    background: -webkit-linear-gradient(90deg, var(--btn-color-primary) 0%, var(--btn-color-secondary) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1);
    padding: .5rem 1rem;
    border-radius: 5px;
    box-shadow: var(--bx-shadow);
}

.primary-btn:hover {
    color: var(--text-color-grey);
}

.para-text {
    color: var(--text-light-white);
}

.list-item {
    font-size: 1.1rem;
}

/* ********************* header-top style starts ************************** */
.header-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    background: url('../images/2ix7bhne.png'), var(--header-bg-color-secondary);
    /* background-size: cover; */
    /* background-position: cover; */
    /* background-repeat: no-repeat; */
    /* object-fit: fill; */
    clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 78%, 96% 100%, 7% 100%, 0 79%, 0% 43%, 0 0);
}

.header-top-img img{
    width: 150px;
}

.header-top-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top .header-top-img>img {
    width: 150px;
    object-fit: cover;
}

.header-top_title {
    margin-top: .5rem;
    /* border: 1px solid #000; */
}

.header-top_title h1 {
    text-align: center;
    font-size: 1.5rem;
    /* -webkit-text-stroke: 1.5px #210b32; */
    color: transparent;
    font-weight: 700;
    margin: .25rem 0 0 0;
    color: var(--primary-color);
}

.header-top .header-top_title h2 {
    text-align: center;
    margin-bottom: .5rem;
}

.header-top .header-top_title h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    color: transparent;
    background: -moz-linear-gradient(90deg, var(--sub-heading-primary) 0%, var(--sub-heading-secondary) 100%);
    background: -webkit-linear-gradient(90deg, var(--sub-heading-primary) 0%, var(--sub-heading-secondary) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

/* .header-top-dept {
    border: 1px solid #000;
} */
.header-top-dept h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: transparent;
    background: -moz-linear-gradient(90deg, var(--sub-heading-primary) 0%, var(--sub-heading-secondary) 100%);
    background: -webkit-linear-gradient(90deg, var(--sub-heading-primary) 0%, var(--sub-heading-secondary) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

div.header-bottom {
    background-color: var(--slate-dark);
}

/* ********************* header-top & header-bottom styles end ************************** */

/* ********************* header navigation style starts ************************** */
nav .navbar {
    width: 100%;
    padding: 0;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

nav ul li {
    margin-left: .5rem;
}

nav li a {
    border-radius: 5px;
    color: var(--text-color-grey) !important;
    text-transform: capitalize;
    /* transition: all .2s linear; */

    transition: 1s;
}

nav li a:hover {
    /* background: linear-gradient(90deg, hsla(324, 91%, 46%, 1) 0%, hsla(18, 100%, 49%, 1) 100%); */
    
background: linear-gradient(90deg, #0372e9 , #537895 );
}

/* .active {
    background-color: var(--primary-color);
} */
/* *********************  header navigation styles end ************************** */

/* ********************* main section style starts ************************** */
main section {
    margin-bottom: .25em;
    /* background: var(--section-bg-primary); */
    /* background: linear-gradient(90deg, var(--section-bg-primary) 0%, var(--section-bg-secondary) 100%); */
    /* background: -moz-linear-gradient(90deg, var(--section-bg-primary) 0%, var(--section-bg-secondary) 100%);
    background: -webkit-linear-gradient(90deg, var(--section-bg-primary) 0%, var(--section-bg-secondary) 100%); */  

background: linear-gradient(180deg, #004a82,#020c19 );
/* background: linear-gradient(180deg, #09203F 0%, #09203F 60%, rgb(255, 182, 47) 60%, rgb(255, 182, 47) 100%); */

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#42047E", endColorstr="#07F49E", GradientType=1 );
  /* height: auto; */
  height: fit-content;
    padding: 1rem 0 0 0;
    border: 0;
    z-index: 99999;
    overflow: hidden;
}

.section-home {
    background: url("IN.jpg"), linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(30, 15, 50, 1) 35%, rgba(70, 40, 60, 1) 100%);
    background-size: 100% 750px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

section .section-heading {
    padding: .5rem 0;
    text-align: center;
    /* color: var(--white-smoke-color); */
    color: white;
    font-size: 2.3rem;
}

section:last-child {
    margin: 0;
}

section h2,
h3 {
    color: var(--secondary-color);
    margin: 0;
}

section p {
    font-size: 1.4rem;
    /* line-height: 1.2em; */
}

section ul {
    list-style: none;
}

section ul li {
    display: inline-block;
    width: 90%;
    color: var(--text-light-white);
    border-bottom: 1px dashed white;
    margin-top: .5rem;
}

section ul li>p::before {
    font-family: "Font Awesome 6 Free";
    content: "\f56b ";
    /* content: "\f0a4"; */
    /* color: var(--list-icon-color); */
    font-weight: 600;
    margin-right: .25rem;
    -webkit-font-smoothing: antialiased;
}

.section-text>.highlight-text {
    background-color: var(--highlight-color);
    padding: .25rem;
    border-radius: 4px;
}

.uni-link {
    color: var(--link-color);
    transition: all .2s linear;
}

.uni-link:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

.section-text>strong {
    color: var(--info-color);
    font-weight: 500;
    font-size: .95rem;
    margin-top: .5rem;
}

.section-text {
    text-align: justify;
    margin-top: .25rem;
}

.organiser-details {
    position: relative;
    color: var(--secondary-color);
    padding: .5rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.organiser-details::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(6, 1, 11, 0.5);
    backdrop-filter: blur(2px);
    z-index: -1;
    overflow: hidden;
}

/* best paper award logo */
.paper-award-logo {
    animation: bg-glow .4s ease-in-out infinite;
    display: flex;
    justify-content: center;
}
.paper-award-logo img{
    width: 350px;
  border-radius: 50%;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 78%, 96% 100%, 7% 100%, 0 79%, 0% 43%, 0 0); */
}

/* deadline style */
.deadline-logo {
    animation: bg-glow .4s ease-in-out infinite;
}

/* payment-contents styles */
.payment-contents>li {
    font-size: 1.1rem;
    color:white;
}

.payment-contents li>strong {
    font-weight: 500;
    color: var(--secondary-color);
    font-size: 1rem;
}

.upi-qr-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: .25rem 0;
    height: auto;
    box-sizing: content-box;
    overflow: hidden;
}

.upi-qr-wrapper>.payment-info {
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    place-items: center;
    transform: translate(-50%, -50%);
    z-index: 455;
}

.payment-info>p {
    color: var(--text-color-grey);
    padding: .25rem 1rem;
    background-color: var(--slate-dark) !important;
    border-radius: 5px;
    font-weight: 500;
}

.upi-qr-wrapper>img {
    width: 55%;
    object-fit: cover;
    filter: blur(2px);
    transition: all .2s linear;
    cursor: pointer;
}

/* registration paragraph style */
.schedule-reg>p {
    margin: 0;
    color: var(--grey-text);
    margin-top: .25rem;
}

/* contact us style */
.contact-us-img {
    text-align: center;
}

.contact-us-img>img {
    width: 50%;
    filter: drop-shadow(0 0 .85rem var(--anim-bg-primary));
    object-fit: cover;
    animation: bg-glow .4s ease-in-out infinite;
}

@keyframes bg-glow {
    0% {
        filter: drop-shadow(0 0 .75rem var(--anim-bg-primary));
    }

    50% {
        filter: drop-shadow(0 0 .85rem var(--anim-bg-secondary));
    }

    100% {
        filter: drop-shadow(0 0 .75rem var(--anim-bg-primary));
    }
}

/* theme ul style */
.theme-list li {
    font-size: 1.1rem;
}

/* back-home-icon style */
.back-home-icon {
    background-color: var(--slate-dark);
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1111;
    display: none;
    overflow: hidden;
    text-align: center;
}

.back-home-icon .fa-angles-up {
    color: var(--secondary-color);
    transition: all .1s ease;
}

.back-home-icon .fa-angles-up:hover {
    color: var(--grey-text);
}


/* **********
*********** main section style ends ************************** */

/* footer style starts */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: var(--slate-dark);
    padding: 2.5rem 0;
    padding-bottom: 0;
}

.footer-links h5,
h6 {
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.footer-links h6 {
    font-size: 1.2rem;
}

.footer-links ul {
    padding-left: .25rem;
}

.footer-links ul>li {
    border-bottom: 1px dashed white;
}

.footer-links li>a {
    color: var(--text-color-grey);
}

/* .footer-links .footer-thanks {
    padding: 1rem 0;
    padding-bottom: 0;
    font-size: 3rem;
    font-weight: 700;
    color: var(--slate-dark);
    -webkit-text-stroke: 1px var(--heading-color);
} */
.map-wrapper iframe {
    width: 100%;
}

/* ********************* media query start ************************** */
@media screen and (min-width:768px) and (max-width:992px) {
    .header-top {
        flex-direction: column !important;
    }

    .header-top .conatiner {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .header-top .header-top_title h1 {
        margin-bottom: 0;
        font-size: 1.2rem;
        text-align: center;
    }

    .header-top .header-top_title h2 {
        font-size: 1rem;
    }

    .header-top .header-top-img img {
        width: 120px;
    }
}

@media screen and (min-width:468px) and (max-width: 768px) {
    .loader-welcome {
        width: 60%;
    }

    .loader-progress {
        width: 20%;
    }

    .header-top {
        padding: .5rem 0;
    }

    .header-top .container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .header-top_title,
    .header-top-img,
    .header-top-dept {
        width: 100%;
    }

    .header-top .header-top_title {
        margin-top: 0;
    }

    .header-top_title h1 {
        margin-bottom: 0;
        font-size: 1.5rem;
        text-align: center;
    }

    .header-top .header-top_title h2 {
        text-align: center !important;
        font-size: 1rem;
    }

    .header-top-dept {
        padding: .5rem 0;
        text-align: center;
    }

    .header-top .header-top-img img {
        width: 130px;
    }

    .header-top-dept h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    section p,
    .theme-list li,
    .list-item,
    .payment-contents>li {
        font-size: 1rem;
    }

    .section-home {
        background-size: 100% 100%;
    }

    .reg-btn>p {
        font-size: .85rem;
        margin: .5rem 0;
        text-align: center;
    }
    /* .about-conference-content p,
    .about-department-content p,
    .schedule-details p, */
    p.para-text,
    ul.payment-contents li
    {
        font-size: 1.2rem;
    }
}
/* updated on 13/12/24 */
.upper-head-container {
    display: grid;
    grid-template-columns: auto auto auto;
}


@media (max-width: 468px) {
    html {
        font-size: 80%;
    }

    .header-top .container {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .loader-welcome {
        width: 90%;
    }

    .loader-progress {
        width: 28%;
    }

    .header-top {
        padding: .25rem 0;
    }

    .header-top_title,
    .header-top-img,
    .header-top-dept {
        width: 100%;
    }

    .header-top .header-top-img>img {
        width: 135px;
    }

    .header-top_title {
        width: 100%;
    }

    .header-top .header-top_title h1 {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 0;
    }

    .header-top .header-top_title>h2 {
        text-align: center;
        margin-top: .5rem;
    }

    .header-top .header-top_title h2 {
        word-wrap: break-word;
        font-size: 1rem;
        font-weight: 600;
    }

    .header-top-dept {
        padding: .5rem 0;
    }

    .header-top-dept h3 {
        font-size: 1.2rem;
        text-align: center;
        /* padding: .5rem 0; */
    }

    nav {
        align-items: start;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: .5rem;
    }

    nav ul {
        padding-left: 0;
    }

    nav ul li:first-child {
        margin-top: 0;
    }

    nav ul li {
        text-align: center;
        margin-top: .25em;
    }

    nav li a {
        font-size: .9rem;
    }

    /* main-style */
    main section:first-child {
        border-radius: 0;
    }

    main section {
        background-image: var(--gradient-color-secondary);
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .section-text {
        line-height: 1.5rem;
    }

    section ul {
        padding-left: .5rem;
    }

    section ul li {
        color: var(--text-light-white);
    }

    .section-home {
        background-size: 100% 500px;
    }

    .organiser-details::before {
        content: "";
        background-color: none;
        min-height: 14vh;
    }

    /* best paper */
    .best-paper-contents .paper-contents {
        margin-top: .5rem;
        order: 2;
    }

    .best-paper-contents .paper-award-logo {
        order: 1;
    }

    .upi-qr-wrapper>img {
        width: 100%;
    }

    .upi-qr-wrapper .payment-info {
        width: 80%;
    }

    .contact-us-img {
        order: 1;
    }

    .contact-us-img>img {
        width: 80%;
    }

    .footer-map {
        margin-top: .7rem;
    }

    .map-wrapper iframe {
        height: 250px;
    }
}

@media (max-width:320px) {
    .loader-welcome {
        width: 90%;
    }

    .loader-progress {
        width: 28%;
    }

    .header-top .container {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-top .header-top-img>img {
        width: 110px;
    }

    .header-top .header-top_title {
        padding: .5rem;
        background: none;
    }

    .header-top .header-top_title h1 {
        text-align: center;
        font-size: 1.5rem;
        margin: .5rem 0;
    }

    .header-top .header-top_title h2 {
        color: var(--slate-dark);
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5;
        word-wrap: break-word;
    }

    .header-top .header-top_title h2:last-child {
        margin-bottom: 0;
    }

    .header-top-dept h3 {
        color: var(--slate-dark);
    }

    main section {
        border-radius: 0;
    }

    .section-home {
        background-size: 100% 550px;
    }

    .organiser-details::before {
        min-height: 14vh;
    }

}

/* ********************* media query ends ************************** */

 
